$codeBgColor = #f8f8f8

button{
  outline:none;
}

blockquote {
  color: #959da5
  background-color: #fbfbfb
}

blockquote:hover {
  border-left-width: 5px;
}
.theme-default-content code {
  background-color: #fff5f5;
  color: #ff502c;
  font-size: .87em;
  padding: .065em .4em;
}

.theme-default-content pre code, .theme-default-content pre[class*="language-"] code {
  color: #476582
}

.theme-default-content p:first-child{
  img {
    margin: auto;
    display: block;
  }

}

@media (max-width: 419px) {
  .theme-default-content div[class*="language-"] {
    margin: 0.85rem 0;
  }
}


#vuepress-plugin-comment
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

#main-title
  display none !important

.hero
  .description
    display none !important

// $sidebarWidth: 20rem
// define at: vuepress/packages/@vuepress/core/lib/client/style/config.styl
.page
  @media (min-width: $MQNarrow + 1px) {
    padding-right $sidebarWidth
  }
