$codeBgColor = #f8f8f8

h2 {
  font-size: 1.65rem;
  border-bottom: 0 solid #eaecef;
}

// vuepress-plugin-container 自定义容器样式
.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

button{
  outline:none;
}

blockquote {
  color: #959da5
  background-color: #fbfbfb
}

// 代码区域样式
blockquote:hover {
  border-left-width: 5px;
}
.code-copy {
  display: table-row;
}
.theme-default-content code {
  background-color: #fff5f5;
  color: #ff502c;
  font-size: .87em;
  padding: .065em .4em;
}

//.theme-default-content pre code, .theme-default-content pre[class*="language-"] code {
//  color: #476582
//}
div[class*="language-"]::before {
  color: #f08d49
}

.theme-default-content p:first-child{
  img {
    margin: auto;
    display: block;
  }
}
.theme-default-content {
  word-break: break-all; // 单词换行
}
.theme-default-content:not(.custom) {
  max-width: 100%;
}
.page-edit {
  max-width: 100% !important;
}
.page-nav {
  max-width: 100% !important;
}
// go-to-top
.go-to-top {
  bottom: 1rem !important;
  right: 0.8rem !important;
  z-index: 20 !important;
}
// 侧边栏
.sidebar {
  z-index: 11;
}


#vuepress-plugin-comment
  max-width 100%
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

#main-title
  display none !important

.hero
  .description
    display none !important

// $sidebarWidth: 20rem
// define at: vuepress/packages/@vuepress/core/lib/client/style/config.styl
.page
  @media (min-width: $MQNarrow + 1px) {
    padding-right $sidebarWidth
  }


// 回到顶部猫
.show-cat {
  z-index: 11!important
  right: 120px!important
}
.hide-cat {
  z-index: 11!important
  right: 120px!important
}


// media
@media (max-width: 419px) {
  .theme-default-content div[class*="language-"] {
    margin: 0.85rem 0;
  }
}

@media (max-width: 719px) {
  .page {
    padding-left: 0;
    padding-right: 0 !important;
  }
  .page-sidebar {
    display: none;
  }
  .show-cat {
    display: none;
  }
  .hide-cat {
    display: none;
  }
}

@media screen and (max-width: 1450px) {
  .show-cat {
    display: block !important;
  }
  .hide-cat {
    display: block !important;
  }
}